.contact-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 10px;
}

.form-group {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding: 0 10px;
}

.form-group label {
  margin-top: 10px;
}

.form-group input {
  margin-top: 10px;
  height: 25px;
}

form .btn {
  margin-top: 10px;
}