table {
  border: 1px solid #aaa;
  border-radius: 10px;
  padding: 10px;
}

thead tr {
  background-color: #3d429eaa;
}

th {
  padding: 10px;
  border-radius: 5px;
}

td {
  padding: 5px;
  border-radius: 5px;
}

tbody button {
  margin: 0 5px;
}

tbody button:focus {
  border: 2px solid #646cffaa;
  outline: none;
  box-shadow: 0 0 5px #646cffaa;
}